* {
    padding: 0;
    box-sizing: border-box;
    
}
#header{
    text-align: center;
}
.titulo{
    color: rgb(8, 8, 9);
    font-size: 250%;
    font-family: Serif;
}
.btn-id{
    text-align: center;
}
.botones{
    text-decoration:none;
    font-weight: 600;
    font-size: 120%;
    font-family: Serif;
    color:#080505;
    padding-top:0.1%;
    padding-bottom:0.1%;
    padding-left:0.1%;
    padding-right:0.1%;
    background-color: rgba(255, 255, 255, 0.679);
    border-width: 1%;
    border-style: solid;
    border-color: #000000;
    margin-bottom: 5px;
}
#div-input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;
    padding-top: 2%;
}
#cuadro-input{
    font-size: 110%;
    font-weight: 600;
    text-align: center;
    padding-top:0.5%;
    padding-left:0.5%;
    padding-bottom:0.5%;
    border-width: 5%;
    border-style: solid;
    border-color: #00000071;
    text-transform: uppercase;
}
#div-footer{
   text-align: center;
    margin-top: 10px;
}
#cuadrante-canvas {
    width: 250px;
    margin-left: 250px;
    margin-bottom: 6px;
    padding: 3px;
    align-content: center;
}
canvas{
    background-color: grey;
}